- name: Commit and push if changed
  run: |
    git config --global user.name "github-actions[bot]"
    git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
    git add index.html
    git diff --cached --quiet || git commit -m "Auto update last updated date"
    git push
